.app-layout {
    &:before {
        content: '';
        display: block;
        height:88px;
    }
    >header {
        position:fixed;
        top:0px;
        width: 100%;
        height:88px;
        background-color:var(--color-clear);
        border-bottom:solid 4px var(--color-accent);
        display:flex;
        align-items: center;
        z-index:1;
        // justify-content: center;
        .logo-wrapper{
            img {
                margin-top:0px;
                height:42px;
            }
        }
    }
}
@media only screen and (max-width: 959px){
    .app-layout{
        &:before {
            height:4rem;
        }
        >header{
            height:3rem;
            .logo-wrapper{
                text-align: center;
                img{
                    height:auto;
                    max-height:2.5rem;
                    max-width:100%;
                }
            }
        }
    }
}