<form action="/signup" method="post">
    <p>
      <label>From Account</label><br>
      <input type="text" name="fromAccount" aria-disabled="true" value="Free Checking(4692) - $5824.76"/>
    </p>
    <p>
        <label>To Account</label><br>
        <input type="text" name="toAccount" aria-disabled="true" value="Georgia Power Electric Company"/>
    </p>
    <p>
      <label>Amount</label><br>
      <input type="number" name="amount"/>
    </p>
    <p>
      <button>submit</button>
      <button type="reset">Reset form</button>
    </p>
  </form>