<div>
    <div>
        <input type="text" placeholder="Search by typing"/>
    </div>
    <div>
        <span>Sort by</span>
        
        <label>
            Date
            <input type="radio" name="sortBy" value="date"/><span></span></label>
        
        <label>Beneficiary
            <input type="radio" name="sortBy" value="beneficiary"/>
        </label>
        
        <label>Amount
            <input type="radio" name="sortBy" value="amount"/>
        </label>
    </div>
    
</div>