.panel {
    display:flex;
    flex-flow: column;
    >header {
        background-color:var(--color-contrast);
        color:var(--color-text-contrast);
        display:flex;
        align-items: center;
        height: 60px;;
        .icon {
            flex:0 0 32px;
            padding:15px;
        }
        h1, h2 {
            flex: 1 1 auto;
            text-align:center;
            margin:0px;
            padding:0px;
        }
        h1{
            font-size:1.3rem;
        }
        h2{
            font-size:1rem;
        }
    }
    >main{
        background-color:var(--color-clear);
    }
}