<div class="container">
<div class="table">
    <div class="row" *ngFor="let row of data" >
        <div class="col categoryCode" [ngStyle]="{'backgroundColor': row?.categoryCode}"></div>
        <div class="col col-md date">{{row?.dates.valueDate | date: 'MMM dd'}}</div>
        <div class="col col-sm logo" [ngClass]="'logo-'+ row?.merchant.name | lowercase | replace: ' ': '-' "></div>
        <div class="col">
            <div class="bold">{{ row?.merchant.name }}</div>
            <div>{{ row?.transaction.creditDebitIndicator }}</div>
        </div>
        <div class="col col-md bold">
            -${{ row?.transaction.amountCurrency.amount }}
        </div>
    </div>
</div>
</div>